GEMINI_API_KEY=
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=
GROQ_API_KEY=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
TELEGRAM_BOT_TOKEN=
CLOUDFLARE_ACCOUNT_ID_2=
CLOUDFLARE_API_TOKEN_2=
CLOUDFLARE_ACCOUNT_ID_3=
CLOUDFLARE_API_TOKEN_3=
CLOUDFLARE_ACCOUNT_ID_4=
CLOUDFLARE_API_TOKEN_4=
GITHUB_TOKEN=
